*,
*::before,
*::after {
  box-sizing: inherit;
  /* Set no extra padding and margin to all elements */
  padding: 0;
  margin: 0;
  /* Set general font-size and font weight */
  font-size: 100%;
  font-weight: 300;
}

html {
  /* Set default font family to sans-serif and font size to 10px */
  font-family: sans-serif;
  font-size: 62.5%;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}

body {
  box-sizing: border-box;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}
