// Color variables
$red: #e84343;
$black: #333;
$light-gray: #f6f6f6;
$white: #fff;

// Font variables
$primary-font: 'Caveat', cursive;
$secondary-font: 'Open Sans', sans-serif;

// Layout variables
$margin-bottom-sm: 4rem;
$margin-bottom-lg: 6rem;

// Text mixin
@mixin section-title($color) {
  color: $color;
  font-family: $primary-font;
  font-size: 4.4rem;
  margin-bottom: $margin-bottom-sm;
}

// GLOBAL STYLES
body {
  text-align: center;
}

.container {
  max-width: 80rem;
  margin: auto;
}

// HEADER STYLES
.header {
  margin-bottom: $margin-bottom-lg;
  padding: 1.5rem;

  &__title {
    color: $red;
    font-family: $primary-font;
    font-size: 6rem;
  }

  &__menu {
    margin: 0.5rem 0;

    &--item {
      color: $black;
      font-family: $secondary-font;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      padding: 0.1rem 3rem;
    }

    &--item:hover {
      color: $red;
      font-weight: 400;
    }

    &--middle-item {
      border-left: solid 1px $black;
      border-right: solid 1px $black;
    }
  }
}

// PORTFOLIO STYLES
.portfolio {
  margin-bottom: $margin-bottom-lg;

  &__title {
    @include section-title($black);
  }

  &__grid {
    &--placeholder {
      background-color: $light-gray;
      height: 100rem;
    }
  }
}

// CONTACT STYLES
.contact {
  background-color: $light-gray;

  &__title {
    @include section-title($black);
    padding-top: 2rem;
  }

  &__icons {
    padding-top: 1.6rem;
  }

  &__icons i {
    color: $black;
    font-size: 2.2rem;
    margin: 0 1.4rem;
  }

  &__icons i:hover {
    color: $red;
    cursor: pointer;
  }

  &__copyright {
    color: $black;
    font-family: $primary-font;
    font-size: 2rem;
    padding: 2rem;
  }
}