// Color variables
$red: #e84343;
$black: #000;
$dark-gray: #777;
$light-gray: #eee;
$white: #fff;

body {
  text-align: center;
}

.container {
  max-width: 96rem;
  margin: auto;
}

.header {
  padding: 1.5rem;

  &__title {
    color: $red;
    font-family: "Caveat", cursive;
    font-size: 6rem;
  }

  &__menu {
    margin: 0.5rem 0;

    &--item {
      color: $black;
      font-family: "Open Sans", sans-serif;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      padding: 0.1rem 3rem;
    }

    &--middle-item {
      border-left: solid 1px $black;
      border-right: solid 1px $black;
    }
  }
}
